.App {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 30px auto;
}

.bottom {
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
  top: -19px;
}
/* 
.myapp-wrapper {
  max-width: 800px;
  margin: 10px auto;
} */

h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 5px;
}

.repo-link {
  color: darkblue;
  text-decoration: none;
}
